html, body, .centered-text {
  height: 100%;
}

hr {
  width: 100%;
  display: none;
}

.centered-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.centered-text, button {
  font-size: 80pt;
  font-family: monospace;
}

#next {
  padding: 0.5ex;
  margin: 0.5ex;
}

.task {
  background-color: bisque;
}
